body {
  margin: 0;
  padding: 0;
  background-image: url('./images/ChatGPT\ Image\ Jun\ 27\,\ 2025\,\ 08_28_16\ AM.png');
  background-size: cover;        
  background-repeat: no-repeat;  
  background-position: center;   
  height: 100vh;           
  position: relative;      
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade {
  animation: fadeInUp 1.5s ease-out forwards;
}
#quoteBox {
  font-size: 4rem;
  color: #ffffff;
  text-align: center;
  padding: 1.5rem;
  font-style: italic;
  border-radius: 12px;
  max-width: 700px;
  margin: 30px auto;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}
.button-section {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#checkBtn{
    height: 40px;
    border-radius: 12px;
    border: none;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid #0ff;
    color: #0ff;
    backdrop-filter: blur(4px);
    font-size: larger;
    cursor: pointer;
    margin-bottom: 30px;
}
@keyframes glowPulse {
  0% {
    box-shadow: 0 0 0px #0ff;
    transform: scale(1);
  }
  50% {
    box-shadow: 0 0 15px #0ff;
    transform: scale(0.96);
  }
  100% {
    box-shadow: 0 0 0px #0ff;
    transform: scale(1);
  }
}

.glow-click {
  animation: glowPulse 0.4s ease;
}
.info-msg {
  color: #ccc;
  font-size: 1rem;
  text-align: center;
  margin-top: 6px;
}

.info-msg a {
  color: #0ff;
  text-decoration: underline;
  transition: color 0.2s;
}

.info-msg a:hover {
  color: #fff;
}
